# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/
.env/

# VS Code settings
.vscode/

# Mac/Linux
.DS_Store
*.swp

# Logs
*.log

# Models (optional: if you want to ignore large model files, otherwise keep them)
# final_model/
# final_model.h5

# Python bytecode
*.pyc
